---
interface Props {
    title: string;
    titleClass?: string;
    bussisnessLink?: string;
    duration: string;
    durationClass?: string;
}

const {
    title,
    titleClass,
    bussisnessLink,
    duration,
    durationClass,
} = Astro.props;
---

<article class="flex flex-col justify-start items-start gap-2 mx-2 md:mx-0">
    <div class="flex flex-wrap justify-between items-center w-full">
        {
            bussisnessLink ? (
                <a class={`text-white text-3xl ${titleClass}`} target="_blank" href={bussisnessLink}>
                    {title}
                </a>
            ) : (
                <h1 class={`text-white text-3xl ${titleClass}`}>
                    {title}
                </h1>
            )
        }
        <span class={durationClass ? durationClass : "color-third-1 opacity-75 "}
            >{duration}</span
        >
    </div>
    <slot></slot>
</article>
