---
import Proyect from "../../components/Proyect.astro";
import Skill from "../../components/Skill.astro";
import ModalButton from "../../components/UI/Modal/ModalButton.svelte";
import {
    laravelSvg,
    htmlSvg,
    cssSvg,
    bootstrapSvg,
    phpSvg,
    discordSvg,
    livewireSvg,
    reactSvg,
    typescriptSvg,
    nodeSvg,
    npmSvg,
    composerSvg,
    jsonSvg,
    Cerebritos,
    jwtSvg,
} from "../../assets";
import { nextSvg } from "../../assets";
import { mysqlSvg } from "../../assets";
---

<section class="my-10 flex flex-col gap-6">
    <h1 class="text-center text-white text-4xl">Proyectos</h1>
    <hr class="border-white opacity-25" />
    <div
        class="grid grid-cols-1 md:grid-cols-2 gap-10 justify-center items-start"
    >
        <Proyect
            name="Cerebritos"
            image={Cerebritos}
            imagePadding
            description="Hemos desarrollado una aplicación web para poder gestionar distintos logros y retos tengan recompensas en forma de puntos. Con estos puntos se pueden reservar en un catálogo productos de forma gratuita y los logros se asocian al perfil. Los padres pueden formar núcleos familiares para facilitar la búsqueda de los datos de los padres a la hora de querer contactar con alguno de ellos. Adicionalmente se han desarrollado algunas herramientas de gestión para los monitores y administradores de la aplicación cómo la gestión de roles, gestión de pedidos, un registro de todas las acciones relevantes de la aplicación y gestión de logros y productos."
        >
            <Skill name="HTML" source={htmlSvg} sourceClass="w-10" />
            <Skill name="CSS" source={cssSvg} sourceClass="w-10" />
            <Skill name="Bootstrap" source={bootstrapSvg} sourceClass="w-10" />
            <Skill name="PHP" source={phpSvg} sourceClass="w-10" />
            <Skill name="Laravel" source={laravelSvg} sourceClass="w-10" />
            <Skill name="React" source={reactSvg} sourceClass="w-10" />
            <Skill name="NextJS" source={nextSvg} sourceClass="w-10" />
            <Skill name="MySQL" source={mysqlSvg} sourceClass="w-10" />
            <Skill name="JWT" source={jwtSvg} sourceClass="w-10" />
            <Skill name="NodeJS" source={nodeSvg} sourceClass="w-10" />
            <Skill name="NPM" source={npmSvg} sourceClass="w-10" />
            <Skill name="Composer" source={composerSvg} sourceClass="w-10" />
            <Skill name="JSON" source={jsonSvg} sourceClass="w-10" />
        </Proyect>

        <Proyect
            name="GrooveBox"
            image="https://github.com/Tomhuel/GrooveBox/blob/main/assets/img/Groove.png?raw=true"
            description="GrooveBox es una plataforma para poder subir y descargar música de forma privada o pública y poder generar Tracklists para compartir con amigos para poder descargar tus Mixes de forma más cómoda para el mundo DJ."
            githubUrl="https://github.com/Tomhuel/GrooveBox"
            imagePadding
        >
            <Skill name="HTML" source={htmlSvg} sourceClass="w-10" />
            <Skill name="CSS" source={cssSvg} sourceClass="w-10" />
            <Skill name="Bootstrap" source={bootstrapSvg} sourceClass="w-10" />
            <Skill name="PHP" source={phpSvg} sourceClass="w-10" />
            <Skill name="Laravel" source={laravelSvg} sourceClass="w-10" />
            <Skill name="Livewire" source={livewireSvg} sourceClass="w-10" />
            <Skill name="MySQL" source={mysqlSvg} sourceClass="w-10" />
            <Skill name="NodeJS" source={nodeSvg} sourceClass="w-10" />
            <Skill name="NPM" source={npmSvg} sourceClass="w-10" />
            <Skill name="Composer" source={composerSvg} sourceClass="w-10" />
            <Skill name="JSON" source={jsonSvg} sourceClass="w-10" />
        </Proyect>

        <Proyect
            name="TaoBot"
            image="https://cdn.discordapp.com/avatars/1129712001233465425/73a375aa04e79be6ef2c3a0a64cb80e7.webp?size=512"
            description="Bot de Discord para aprender a utilizar la API de Discord"
            githubUrl="https://github.com/Tomhuel/TaoBot"
        >
            <Skill name="Discord API" source={discordSvg} sourceClass="w-10" />
            <Skill
                name="TypeScript"
                source={typescriptSvg}
                sourceClass="w-10"
            />
            <Skill name="NodeJS" source={nodeSvg} sourceClass="w-10" />
            <Skill name="NPM" source={npmSvg} sourceClass="w-10" />
            <Skill name="JSON" source={jsonSvg} sourceClass="w-10" />
        </Proyect>

        <Proyect
            name="JsonHandler"
            description="Libreria de NPM para poder trabajar con ficheros JSON de forma más sencilla."
            githubUrl="https://github.com/Tomhuel/JsonHandler"
            liveUrl="https://www.npmjs.com/package/@tomhuel/jsonhandler"
            image={jsonSvg}
            imagePadding
        >
            <Skill
                name="TypeScript"
                source={typescriptSvg}
                sourceClass="w-10"
            />
            <Skill name="NodeJS" source={nodeSvg} sourceClass="w-10" />
            <Skill name="NPM" source={npmSvg} sourceClass="w-10" />
            <Skill name="JSON" source={jsonSvg} sourceClass="w-10" />
        </Proyect>
    </div>
</section>
