---
import Technology from "../../../components/Technology.astro";
import htmlSvg from "../../../assets/html.svg";
import cssSvg from "../../../assets/css.svg";
import bootstrapSvg from "../../../assets/bootstrap.svg";
import debianSvg from "../../../assets/debian.svg";
import gitSvg from "../../../assets/git.svg";
import githubSvg from "../../../assets/github.svg";
import javascriptSvg from "../../../assets/javascript.svg";
import jestSvg from "../../../assets/jest.svg";
import jsonSvg from "../../../assets/json.svg";
import laravelSvg from "../../../assets/laravel.svg";
import mysqlSvg from "../../../assets/mysql.svg";
import nextSvg from "../../../assets/next.svg";
import nodeSvg from "../../../assets/node.svg";
import phpSvg from "../../../assets/php.svg";
import reactSvg from "../../../assets/react.svg";
import tailwindSvg from "../../../assets/tailwind.svg";
import xmlSvg from "../../../assets/xml.svg";
import livewireSvg from "../../../assets/livewire.svg";
import typescriptSvg from "../../../assets/typescript.svg";
import composerSvg from "../../../assets/composer.svg";
import npmSvg from "../../../assets/npm.svg";
---

<div class="flex flex-col justify-start items-start gap-2">
    <h2 class="w-full text-2xl text-center md:text-left text-white">
        Técnicas
    </h2>
    <hr class="border-white opacity-20 w-full hidden md:block" />
    <div class="flex flex-wrap justify-center items-center gap-2">
        ch
        <Technology show name="HTML" source={htmlSvg} />
        <Technology show name="CSS" source={cssSvg} />
        <Technology show name="JavaScript" source={javascriptSvg} />
        <Technology show name="Git" source={gitSvg} />
        <Technology show name="Github" source={githubSvg} />
        <Technology show name="PHP" source={phpSvg} />
        <Technology show name="Composer" source={composerSvg} />
        <Technology show name="Laravel" source={laravelSvg} />
        <Technology show name="Livewire" source={livewireSvg} />
        <Technology show name="MySQL" source={mysqlSvg} />
        <Technology show name="JSON" source={jsonSvg} />
        <Technology show name="XML" source={xmlSvg} />
        <Technology show name="Node" source={nodeSvg} />
        <Technology show name="NPM" source={npmSvg} />
        <Technology show name="TypeScript" source={typescriptSvg} />
        <Technology show name="JEST" source={jestSvg} />
        <Technology show name="React" source={reactSvg} />
        <Technology show name="NextJS" source={nextSvg} />
        <Technology show name="Bootstrap" source={bootstrapSvg} />
        <Technology show name="Tailwind CSS" source={tailwindSvg} />
        <Technology show name="Debian / Ubuntu" source={debianSvg} />
    </div>
</div>
