---
import Skill from "../../../components/Skill.astro";
import {
    htmlSvg,
    cssSvg,
    bootstrapSvg,
    debianSvg,
    gitSvg,
    githubSvg,
    javascriptSvg,
    jestSvg,
    jsonSvg,
    laravelSvg,
    livewireSvg,
    mysqlSvg,
    nextSvg,
    nodeSvg,
    phpSvg,
    reactSvg,
    tailwindSvg,
    xmlSvg,
    typescriptSvg,
    composerSvg,
    npmSvg,
} from "../../../assets";
---

<div class="flex flex-col justify-start items-start gap-2">
    <h2 class="w-full text-2xl text-center text-white">
        Técnicas
    </h2>
    <hr class="w-full hidden md:block border-white opacity-10 text-center" />
    <div class="flex flex-wrap justify-center items-center gap-2">
        <Skill show name="HTML" source={htmlSvg} />
        <Skill show name="CSS" source={cssSvg} />
        <Skill show name="JavaScript" source={javascriptSvg} />
        <Skill show name="Git" source={gitSvg} />
        <Skill show name="Github" source={githubSvg} />
        <Skill show name="PHP" source={phpSvg} />
        <Skill show name="Composer" source={composerSvg} />
        <Skill show name="Laravel" source={laravelSvg} />
        <Skill show name="Livewire" source={livewireSvg} />
        <Skill show name="MySQL" source={mysqlSvg} />
        <Skill show name="JSON" source={jsonSvg} />
        <Skill show name="XML" source={xmlSvg} />
        <Skill show name="Node" source={nodeSvg} />
        <Skill show name="NPM" source={npmSvg} />
        <Skill show name="TypeScript" source={typescriptSvg} />
        <Skill show name="JEST" source={jestSvg} />
        <Skill show name="React" source={reactSvg} />
        <Skill show name="NextJS" source={nextSvg} />
        <Skill show name="Bootstrap" source={bootstrapSvg} />
        <Skill show name="Tailwind CSS" source={tailwindSvg} />
        <Skill show name="Debian / Ubuntu" source={debianSvg} />
    </div>
</div>
