---
import Skill from "../../../components/Skill.astro";
import htmlSvg from "../../../assets/technologies/html.svg";
import cssSvg from "../../../assets/technologies/css.svg";
import bootstrapSvg from "../../../assets/technologies/bootstrap.svg";
import debianSvg from "../../../assets/technologies/debian.svg";
import gitSvg from "../../../assets/technologies/git.svg";
import githubSvg from "../../../assets/technologies/github.svg";
import javascriptSvg from "../../../assets/technologies/javascript.svg";
import jestSvg from "../../../assets/technologies/jest.svg";
import jsonSvg from "../../../assets/technologies/json.svg";
import laravelSvg from "../../../assets/technologies/laravel.svg";
import mysqlSvg from "../../../assets/technologies/mysql.svg";
import nextSvg from "../../../assets/technologies/next.svg";
import nodeSvg from "../../../assets/technologies/node.svg";
import phpSvg from "../../../assets/technologies/php.svg";
import reactSvg from "../../../assets/technologies/react.svg";
import tailwindSvg from "../../../assets/technologies/tailwind.svg";
import xmlSvg from "../../../assets/technologies/xml.svg";
import livewireSvg from "../../../assets/technologies/livewire.svg";
import typescriptSvg from "../../../assets/technologies/typescript.svg";
import composerSvg from "../../../assets/technologies/composer.svg";
import npmSvg from "../../../assets/technologies/npm.svg";
---

<div class="flex flex-col justify-start items-start gap-2">
    <h2 class="w-full text-2xl text-center md:text-left text-white">
        Técnicas
    </h2>
    <hr class="w-full hidden md:block border-white opacity-10 text-center" />
    <div class="flex flex-wrap justify-center items-center gap-2">
        <Skill show name="HTML" source={htmlSvg} />
        <Skill show name="CSS" source={cssSvg} />
        <Skill show name="JavaScript" source={javascriptSvg} />
        <Skill show name="Git" source={gitSvg} />
        <Skill show name="Github" source={githubSvg} />
        <Skill show name="PHP" source={phpSvg} />
        <Skill show name="Composer" source={composerSvg} />
        <Skill show name="Laravel" source={laravelSvg} />
        <Skill show name="Livewire" source={livewireSvg} />
        <Skill show name="MySQL" source={mysqlSvg} />
        <Skill show name="JSON" source={jsonSvg} />
        <Skill show name="XML" source={xmlSvg} />
        <Skill show name="Node" source={nodeSvg} />
        <Skill show name="NPM" source={npmSvg} />
        <Skill show name="TypeScript" source={typescriptSvg} />
        <Skill show name="JEST" source={jestSvg} />
        <Skill show name="React" source={reactSvg} />
        <Skill show name="NextJS" source={nextSvg} />
        <Skill show name="Bootstrap" source={bootstrapSvg} />
        <Skill show name="Tailwind CSS" source={tailwindSvg} />
        <Skill show name="Debian / Ubuntu" source={debianSvg} />
    </div>
</div>
